@charset "UTF-8";
/* CSS Document */

br.clear{
	display:block;
	width:auto;
	clear:both;
	line-height:0%;
	}

.sinfonia_logo{
	margin:21px 0 0 18px;
	padding:0;
	float:left;
	}

.sinfonia_search{
	float:right;
	margin:10px 10px 0 0;
	}
	.sinfonia_search .totop{
		position:absolute;
		top:47px;
		right:335px;
		_right:345px;
		}
	*+ html .sinfonia_search .totop{
		top:45px;
		right:337px;
		}
	div#headBlk .sinfonia_search form.fm_search{
		padding:0 0 0 0;
		margin: 30px 0 12px 15px;
		}
.sinfonia_search_foot{
	float:right;
	margin:0 10px 0 0;
	_margin:0 5px 0 0;
	}
	.sinfonia_search_foot form.fm_search{
		padding:0 0 10px 0;
		_padding:0 0 3px 0;
		}
	*+ html .sinfonia_search_foot form.fm_search{
		padding:0 0 3px 0;
		}
		.sinfonia_search form.fm_search input.searchTxt,
		.sinfonia_search_foot form.fm_search input.searchTxt{
			width:250px;
			height:16px;
			}
			.sinfonia_search form.fm_search input.searchBtn,
			.sinfonia_search_foot form.fm_search input.searchBtn{
				width:48px;
				height:23px;
				font-size:12px;
				}

.sinfonia#footBlk {
	background: #fff;
	border-color: #0ba11f;
	border-bottom:none;
	}
	.sinfonia#footBlk form.fm_search {
		width: auto;
		}

.sinfonia_copyright{
	float:left;
	color:#000;
	margin:6px 0 0 18px;
	_margin:6px 0 0 9px;
	padding:0;
	font-size:9px;
	_font-size:70%;
	letter-spacing:-0.1px;
	_letter-spacing:-0.5px;
	}
*+ html .sinfonia_copyright{
	font-size:70%;
	letter-spacing:-0.5px;
	}

.sinfonia_search .totop img{
	border:none;
	vertical-align:bottom;
	}

.sinfonia_search .totop{
	line-height:0;
	font-size:xx-small;
	}