/* CSS Document */

html body{
	font-size:83%;
	line-height:1.5;
	}
html .f_12{
	font-size:83%;
	}	
html .f_14{
	font-size:115%;
	letter-spacing:0;
	}
html .f_10{
	font-size:65%;
	letter-spacing:0;
	}

/* IE7
---------------------------*/
html h1,
html h2,
html h3,
html h4,
html h5{
	font-size:100%;
	font-weight:normal;}

	
/*リスト内にリストを入れる場合や、テーブル内にテーブルを入れる際は
IEのみその部分のフォントサイズを100%に指定する必要あり（２重にかかる）*/


