@charset "UTF-8";
@import "variables";
@import "menu";

/**
 * common
 */

img {
  max-width: 100%;
}

/* middle */
.middle{
  padding-bottom: 80px;
}
/* inner */
.inner{
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  @include media(sp) {
      padding-left: 10px;
      padding-right: 10px;
  }
  @include media(ipad) {
      padding-left: 10px;
      padding-right: 10px;
  }
  @include media(pc) {
      position: relative;
      width: 1000px;
      padding: 0;
  }
}

/* h2 */
.ttl-h2{
  color: #008342;
  text-align: center;
  font-weight: bold;
  @include media(sp) {
    padding: 2em 0px 1em 0px;
    line-height: 3.5em;
    font-size: 1.8rem;
  }
  @include media(pc) {
    padding: 35px 0px 20px 0px;
    font-size: 36px;
    line-height: 2.5em;
  }

  i{
    display: inline-block;
    @include media(sp) {
      height: 3.5em;
    }
    @include media(pc) {
      height: 2.5em;
    }

    img{
      max-height: 100%;
      margin-right: 5px;
    }
  }
}


/* h3 */
.ttl-h3{
  color: #fff;
  line-height: 2.4rem;
  font-weight: bold;
  &.head-green{
    padding: 15px;
    background: #008342;
    border-radius: 8px 8px 0px 0px;
    span.service{
      display: inline-block;
      padding: 0 10px;
      vertical-align: middle;
      background: #002111;
      @include media(sp) {
        font-size: 1.4rem;
      }
      @include media(pc) {
        margin-right: 15px;
        font-size: 1.2rem;
      }
    }
    span.title{
      @include media(sp) {
        display: block;
        margin-top: 10px;
        line-height: 1.3;
        font-size: 2.2rem;
      }
      @include media(pc) {
        font-size: 2.4rem;
      }
    }
  }
}

/* h4 */
.ttl-h4{
  color: #008342;
  line-height: 3rem;
  font-weight: bold;
  @include media(sp) {
    font-size: 2.2rem;
  }
  @include media(pc) {
    font-size: 2.4rem;
  }

  &.icon-green{
    align-items: center;
    i{
      display: block;
      margin-right: 10px;
      vertical-align: middle;
      @include media(sp) {
        width: 1.7em;
      }
      @include media(pc) {
        width: 60px;
      }
    }
    .title{
      display: block;
      @include media(sp) {
        width: calc( 100% - 2em - 10px);
      }
    }
  }
}

/* h5 */
.ttl-h5{
  line-height: 3.6rem;
  font-weight: bold;
  @include media(pc) {
    font-size: 1.8rem;
  }
  &.orange{
    margin-bottom: 10px;
    text-align: center;
    color: #fff;
    background: #ff8a00;
  }
}

.btn a{
  display: inline-block;
  padding: 0 2em;
  font-size: 14px;
  line-height: 30px;
  border-radius: 16px;
}
/* mainvisual area */
.mainvisual-area{
  width: 100%;
  @include media(pc) {
    background: transparent url(../images/index/mainvisual_bg_pc.png) bottom center no-repeat;
    background-size: cover;
  }
  .inner{
    @include media(sp) {
      padding: 0;
      position: relative;
    }
    @include media(pc) {
      min-height: 885px;
    }

    img{
      @include media(sp) {
        z-index: 0;
      }
    }
  }
}
.flag-l{
  @include media(sp) {
    display: none;
  }
  position: absolute;
  top: 25px;
  left: -100px;
}
.index-logo{
  @include media(sp) {
    display: none;
  }
  position: absolute;
  top: 30px;
  left: calc((100% - 529px) / 2);
}

.flag-r{
  @include media(sp) {
    display: none;
  }
  position: absolute;
  top: 25px;
  right: -100px;
}


/* product area */
.product-area{
  @include media(sp) {
    display: none;
  }
}
.product-list{
  position: relative;
  @include media(sp) {
    display: none;
  }
  @include media(pc) {
    top: 180px;
  }
  li{
    position: absolute;
    z-index: 6;
    @include media(pc) {
      width: 190px;
      animation: flow01 3s linear infinite;
      transform-origin: 50% 50%;
      margin: 1rem 0 !important;
    }
    &:hover{
      z-index: 7;
    }
    a{
      display: block;
      transition-duration: 0.1s;
      transition-timing-function:ease-in;
      &:hover{
        transform: scale(1.2);
        transition-duration: 0.5s;
        transition-timing-function:ease;
      }
    }
    &.prod01{
      top: 0;
      left: 155px;
      animation: flow1 5s ease-in infinite;
    }
    &.prod02{
      top: 0;
      left: 405px;
      animation: flow2 9.6s linear infinite;
    }
    &.prod03{
      top: 0;
      left: 655px;
      animation: flow3 12.8s linear infinite;
    }
    &.prod04{
      top: 150px;
      left: 30px;
      animation: flow4 16.5s ease-in infinite;
    }
    &.prod05{
      top: 150px;
      left: 280px;
      animation: flow5 7s linear infinite;
    }
    &.prod06{
      top: 150px;
      left: 530px;
      animation: flow6 11.8s linear infinite;
    }
    &.prod07{
      top: 150px;
      left: 780px;
      animation: flow7 12.4s linear infinite;
    }
    &.prod08{
      top: 317px;
      left: 156px;
      animation: flow8 6.9s ease-in infinite;
    }
    &.prod09{
      top: 317px;
      left: 410px;
      animation: flow9 4s linear infinite;
    }
    &.prod10{
      top: 317px;
      left: 667px;
      animation: flow10 5s linear infinite;
    }
  }
}

@for $i from 1 through 10 {
  @keyframes flow#{$i} {
    0%, 100%{
      transform: translateY(0)
    }
    40% { 
      transform: translateY( random(100) * -0.3px)
    }
  }
}


$colors :#ef8029, #fce992, #0a509f;

$num : 0;
@each $color in $colors {
  $num: $num + 1;
  .ball#{$num}{
    position: fixed;
    left: random(200) + 10px;
    top: random(100) + 10px;
    width: random(10) + 10px;
    height: random(10) + 10px;
    background-color: $color;  
    border-radius: 50%;
    z-index: 5;
    opacity: 0;
    box-shadow: 0 0 1vw 1vw $color;
    animation: flash#{$num} .2s ease alternate infinite;

  }

  @keyframes flash#{$num} {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
}
















/* news area */
.news-area{
  align-items: center;
  z-index: 5;
  background: #fff;
  border-radius: 8px;
  box-shadow: 2px 2px 20px 5px rgba(0, 0, 0, 0.1);
  @include media(sp) {
    position: absolute;
    width: 96%;
    padding: 10px 20px;
    bottom: 25px;
    left: 2%;
    font-size: 1.4rem;
    font-weight: bold;
  }
  @include media(pc) {
    position: absolute;
    width: 100%;
    padding: 10px 40px;
    bottom: 100px;
    height: 90px;
    overflow: hidden;
    font-size: 14px;
  }
}

.news-area li{
  display: none;
  width: 100%;
  line-height: 1.6;
  &.on{
    display: block;
  }
}
.news-area .title{
  @include media(sp) {
  width: 100%;
  }
  @include media(pc) {
    width: 10%;
    padding-right: 30px;
    line-height: 70px;
    border-right: 1px solid #b1b1b1;
  }
}
.news-area .news{
  @include media(sp) {
    width: 100%;
  }
  @include media(pc) {
    width: 90%;
    padding-left: 20px;
  }
}
.news-area .news .new{
  display: inline-block;
  position: relative;
  top: -1px;
  margin: 0px .7em;
  text-align: center;
  color: #fff;
  font-size: 10px;
  background: #e60012;
  @include media(sp) {
    width: 4em;
  }
  @include media(pc) {
    width: 6em;
  }
}
.news-area .news .topic{
  @include media(sp) {
    font-size: 1.4rem;
  }
  @include media(pc) {
    font-size: 16px;
  }
}

/* presentation area */

.stripe{
  border: 2px solid #8fc9ac;
  border-radius: 0px 0px 8px 8px;
  background: transparent url(../images/bg_stripe.png) top left repeat;
  @include media(sp) {
    padding: 20px 20px 25px 20px;
  }
  @include media(pc) {
    padding: 20px 30px 25px 30px;
  }
}
.presentation-area .note{
  @include media(sp) {
    font-size: 16px;
  }
  @include media(pc) {
    font-size: 14px;
  }
}
.presentation-area .chat-time{
  font-size: 1.8rem;
  @include media(sp) {
    margin-left: 4.5rem;
    font-weight: bold;
  }
  @include media(pc) {
    margin-left: 75px;
  }
}
.presentation-area article{
  &:not(:nth-of-type(1)){
    margin-top: 40px;
  }
  &:first-of-type{
    margin-top: 15px;
  }
}
.list-schedule{
  justify-content: space-between;
}
.list-schedule li{
  margin-top: 10px;
  padding: 30px 30px 20px 30px;
  font-size: 18px;
  border: 2px solid #8fc9ac;
  border-radius: 8px;
  background: #fff;
  @include media(pc) {
    width: calc(50% - 20px);
  }
  .sub{
    margin-top: .6em;
    font-size: 14px;
  }
  .btn {
    margin-top: 5px;
    a{
      color: #fff;
      background: #008342;
    }
  }
}