.agriculture{
	section{
		@include media(sp) {
			margin-bottom: 20px;
		}
	}
	.lead{
		@include media(pc) {
			margin: 20px 0px 20px 0px;
		}
		@include media(sp) {
			margin: 10px 0 20px;
			padding: 0px 10px;
		}
	}
	h1.ttl-h1 {
		background: transparent url(../../agriculture/images/bg_ttl01.png) left top no-repeat;
		background-size: 100%;
	}
	h3{
		&.ttl-h3{
			margin:0 0 20px 0;
			span{
				font-size: 1.2rem;
				font-weight: normal;
				}
		}
	}
	/* ttl-h4 */
	h4.ttl-h4{
		font-weight: bold;
		background: $background-color-gray-5;
			@include media(pc) {
			font-size: 1.4rem;
			margin-bottom: 1px;
			padding: 9px 16px;
			}
			@include media(sp){
			font-size: 1.4rem;
			margin-bottom: 1px;
			padding: 9px 16px;
			}
	}
	h5{
		&.ttl-h5{
			color: $color-green-1;
			font-size: 1.4rem;
			font-weight: bold;
			margin: 0 0 10px 0;
			border-bottom: 1px solid #009c86;
			&.color-2{
				color: #009c86;
			}
			span{
				line-height: 1;
				font-weight: normal;
				padding: 5px;
				border-radius: 5px;
				background-color: $background-color-gray-7;
				color:$color-white ;
			}
			&.indent{
				text-indent: -5em;
				padding-left: 5em;
			}
		}
	}
/**
 * index
 */
	&.index{
		.ttl-main{
			text-align: center;
			@include media(pc) {
				margin-bottom: 30px;
			}
			@include media(sp) {
				margin-bottom: 10px;
			}
			img{
				@include media(pc) {
					width: 260px;
				}
				@include media(sp) {
					max-width: 50%;
				}
			}
		}
		.bg-main{
			background:transparent url('../../agriculture/images/bg_main.jpg') left top no-repeat;
			background-size: 100%;
			box-sizing: border-box;
			@include media(pc) {
				padding: 35px 10px 65px 10px;
			}
			@include media(sp) {
				min-height: 295px;
				padding: 30px 10px;
			}
		}
		.column-2{
			@include column-num(2, 10px, 1%);
			.col{
				@include media(pc) {
					width: 286px;
					margin-top: 28px;
					margin-right: 8px;
				}
				@include media(sp) {
					margin-top: 2% !important;
				}
				a{
					@include media(pc) {
						display: block;
						height: 61px;
					}
					&:hover{
						opacity: 1;
						transition: 0;
						img{
							@include media(pc) {
								opacity: 0;
								transition: 0.3s ease-out;
							}
						}
					}
				}
				@include media(pc) {
					/*ホバーボタン生成*/
					@for $i from 1 through 6 {
					  &:nth-child(#{$i}) a{
						background:transparent url('../../agriculture/images/btn0#{$i}_o.png') left top no-repeat;
						background-size: 100%;
					  }
					}
				}
			}
		}
	}
/**
 * plant
 */
	&.plant{
		.main_products{
				margin: 0 0 40px 0;
		}
		section.inq{
			h3.ttl-h3{
				margin-bottom: 1px;
			}
			.list-company{
				padding: 10px 9px 7px;
				border: 1px solid #DDD;
				@include media(pc) {
					margin:0px;
				}
				dt{
					margin-bottom: 10px;
					font-weight: bold;
					font-size: 1.4rem;
					border-bottom: 1px dotted;
					@include media(sp) {
						font-size: 1.6rem;
					}
				}
				dd{
					margin:0 0 20px 0;
					
				}
			}
		}
	}
}
