.partsfeeder{
	h1.ttl-h1{
		@include media(pc) {
			background:transparent url('../../partsfeeder/images/bg_ttl01.png') left top no-repeat;
		}
	}
	&.index{
		/*IEハック*/
		@supports (-ms-ime-align: auto) {
			.flexslider .flex-control-thumbs li{
				width: 80px;
			}
		}
		#slider+.lead{
			margin: 20px 0px;
			@include media(sp) {
				padding: 0px 10px;
			}
		}
		img{
			@include media(pc) {
				max-width: 100%;
			}
		}
		.products{
			&.column-2{
				@include column-num(2, 20px, 1%);
				.col{
					margin-top: 20px;
					img{
						@include media(sp) {
							width: 100%;
						}
					}
					a:hover{
						opacity: 0.7;
						transition: 0.3s ease-out;
					}
				}
			}
		}
		.download{
			@include clearfix;
			background:transparent url('../../partsfeeder/images/menue-back.png') left top no-repeat;
			background-size: 100%;
			@include media(pc) {
				width: 100%;
				height: 72px;
				margin-top: 30px;
				margin-bottom: 20px;
				padding: 35px 0px 0px 10px;
			}
			li{
				float: left;
				@include media(pc) {
					width: 187px;
					height: 30px;
					margin-left: 9px;
				}
				@include media(sp) {
					width: calc( 100% / 3);
					padding: 5.5% 0px 3% 0px;
				}
				a{
					display: block;
					img{
						@include media(pc) {
							width: 100%;
						}
					}
				}
				&:first-child{
					@include media(pc) {
						margin-left: 0;
					}
				}
			}
		}
		.catalogue{
			@include media(pc) {
				margin-top: 20px;
			}
			@include media(sp) {
				margin-top: 20px !important;
			}
			&.column-2{
				@include column-num(2, 20px);
				.col{
					&:first-child{
						@include media(pc) {
							text-align: right;
						}
						a{
							@include media(sp) {
								text-align: center;
							}
						}
					}
					a{
						@include media(pc) {
							display: inline-block;
						}
						@include media(sp) {
							text-align: center;
						}
						img{
							@include media(sp) {
								display: inline;
							}
						}
						&.btn{
							@include media(sp) {
								width: calc( 144px + 6em );
								margin: 0px auto;
							}
						}
					}
				}
			}
		}
	}
}
