.vibrator{
	h1.ttl-h1{
		@include media(pc) {
			background:transparent url('../../vibrator/images/bg_ttl01.png') left top no-repeat;
			background-size: 100%;
		}
	}
	h3.ttl-h3{
		@include media(pc) {
			margin-top: 30px;
			margin-bottom: 20px;
		}
		@include media(sp) {
			margin-top: 30px;
			margin-bottom: 20px;
		}
		&.tel-company{
		@include media(pc) {
			margin-bottom: 1px;
		}
		@include media(sp) {
			margin-bottom: 1px;
		}
		}
	}
	&.index{
		#slider+.lead{
			margin: 20px 0px;
			@include media(sp) {
				padding: 0px 10px;
			}
		}
		.t_align_c{
			display: block;
			margin-top: 20px;
			padding-bottom: 15px;
			.btn.inq{
				padding-top: 18px;
			}
		}
		.products{
			&.column-2{
				@include column-num(2, 20px, 1%);
				.col{
					margin-top: 20px;
					img{
						@include media(sp) {
							width: 100%;
						}
					}
					a:hover{
						opacity: 0.7;
						transition: 0.3s ease-out;
					}
				}
			}
			&.column-5{
				margin-bottom: 30px;
				@include column-num(5, 1px, 1px);
				.col{
					@include media(pc) {
						margin-top: 1px;
					}
					&:first-child{
						@include media(pc) {
							text-align: right;
						}
						a{
							@include media(sp) {
								text-align: right;
							}
						}
					}
					a{
						@include media(sp) {
							text-align: left;
						}
						img{
							@include media(sp) {
								display: inline;
							}
						}
					}
				}
			}
		}
		.download{
			margin-bottom: 30px;
			.btn{
				&.book{
					@include media(pc) {
						padding: 0px 70px 0px 54px;
						&:after{
							@include media(pc) {
								right: 20px;
							}
						}
					}
				}
				&.dimension{
					padding: 0px 60px 0px 54px;
					&:after{
						@include media(pc) {
							right: 20px;
						}
					}
				}
				&.instruction{
					@include media(pc) {
						padding: 0px 60px 0px 54px;
					}
					&:after{
						@include media(pc) {
							right: 20px;
						}
					}
				}
			}
			&.column-3{
				@include column-num(3, 10px, 5px);
				@include media(sp) {
					.btn{
						&:before{
							margin-right: 20px;
						}
						&:after{
							margin-left: 20px;
						}
					}
				}
				.col{
				/*IEハック*/
					@supports (-ms-ime-align: auto) {
						width: 193px;
					}
					&:first-child{
						@include media(pc) {
							text-align: right;
						}
						a{
							@include media(sp) {
							}
						}
					}
					a{
						@include media(sp) {
						}
						img{
							@include media(sp) {
							}
						}
					}
				}
			}
		}
		.catalogue{
			@include media(pc) {
				margin-top: 20px;
			}
			@include media(sp) {
				margin-top: 20px !important;
			}
			&.column-2{
				@include column-num(2, 20px);
				.col{
					&:first-child{
						@include media(pc) {
							text-align: right;
						}
					}
					a{
						@include media(pc) {
							display: inline-block;
						}
						img{
							@include media(sp) {
								display: inline;
							}
						}
					}
				}
			}
		}
		span{
			display: block;
			@include media(pc) {
				margin-top: 5px;
			}
			@include media(sp) {
				margin-top: 10px;
			}
		}
		.link-text{
			font-size: 1.4rem;
		}
			.inq{
				h3.ttl-h3{
					margin-bottom: 1px;
				}
				.list-company{
					padding: 10px 9px 7px;
					border: 1px solid #DDD;
					@include media(pc) {
						margin:0px;
					}
					dt{
						margin-bottom: 10px;
						font-weight: bold;
						font-size: 1.4rem;
						border-bottom: 1px dotted;
						@include media(sp) {
							font-size: 1.6rem;
						}
					}
					dd{
						margin:0 0 20px 0;
					}
				}
			}
	}
}
